<div class="box">
    <div class="container">
        <h1>Rooms
            <a href="/rooms/new"><button type="button" class="btn btn-success"><i class="fas fa-plus"></i></button></a>
        </h1>
         <hr>
        <div class="card-decks">
            <div class="row">
            {{#each rooms}}
                <div class="col-sm-6">
                    <div class="card" style="margin-bottom:40px; border:2px solid rgba(0,0,0,.125); height: 562px">
                        <span class="card-img-top img-fluid img-thumbnail" style="background-image: url({{this.imgPath}}); width: 550px; height: 400px; background-size: cover; background-position: center;" ></span>
                        <div class="card-body">
                            <h4 class="card-title"><a href="/rooms/{{this._id}}/detail">{{this.name}}</a>
                                
                                <i class="fas fa-star"></i>
                                
                            </h4>
                            <p class="card-text">{{this.description}}
                            </p>
                            {{#if owned}}
                            <a href="/rooms/{{this._id}}/edit" class="btn btn-dark"><i class="fas fa-cog"></i></a>
                            {{/if}}
                        </div>
                    </div>
                </div>
            {{/each}}
            </div>
        </div>
      
    </div>
</div>